Repository kubernetes-sigs/alibaba-cloud-csi-driver: changes, and which Prow jobs are due for each by the changed paths.
All: pull-alibaba-cloud-csi-driver-verify-deps, pull-alibaba-cloud-csi-driver-verify-helm

pull-alibaba-cloud-csi-driver-verify-deps:
  optional: true
  decorate: true
  spec:
    containers:
    - image: us-central1-docker.pkg.dev/k8s-staging-test-infra/images/kubekins-e2e:v20241128-8df65c072f-master
      command:
      - make
      args:
      - check-deps
      resources:
        limits:
          cpu: 2
          memory: 4Gi
        requests:
  ...

pull-alibaba-cloud-csi-driver-verify-helm:
  optional: true
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-kind-volume-mounts: 'true'
  spec:
    containers:
    - image: us-central1-docker.pkg.dev/k8s-staging-test-infra/images/kubekins-e2e:v20241128-8df65c072f-master
      command:
      - runner.sh
      args:
      - make
  ...

bmcpfs: ignore some errors when detaching
  pkg/bmcpfs/controllerserver.go
  pkg/bmcpfs/internal/vsc.go
  pkg/bmcpfs/nodeserver.go
  pkg/nas/cloud/nas_client_v2.go
Due: pull-alibaba-cloud-csi-driver-verify-deps

bmcpfs: try to describe before attach
  pkg/bmcpfs/controllerserver.go
  pkg/bmcpfs/internal/vsc.go
Due: pull-alibaba-cloud-csi-driver-verify-deps

controller deploy security hardening
  build/build-all-multi.sh
  build/multi/Dockerfile.multi
  deploy/chart/templates/controller.yaml
  main.go
Due: pull-alibaba-cloud-csi-driver-verify-deps, pull-alibaba-cloud-csi-driver-verify-helm

disk/ad_slot: introduce blockable slot
  pkg/disk/attachdetach_slot.go
  pkg/disk/attachdetach_slot_test.go
Due: pull-alibaba-cloud-csi-driver-verify-deps

disk: detach error code handling
  pkg/disk/cloud.go
  pkg/disk/constants.go
Due: pull-alibaba-cloud-csi-driver-verify-deps

disk: block attach for 1s when conflicting
  pkg/disk/cloud.go
Due: pull-alibaba-cloud-csi-driver-verify-deps

disk: partition must be block device
  pkg/disk/attach_helper.go
  pkg/disk/attach_helper_test.go
  pkg/disk/utils.go
Due: pull-alibaba-cloud-csi-driver-verify-deps

deploy: fix bmcpfs issues
  deploy/chart/templates/_utils.tpl
  deploy/chart/templates/controller.yaml
  deploy/chart/templates/csi-driver.yaml
  deploy/chart/templates/plugin.yaml
  deploy/chart/values-bmcpfs.yaml
  deploy/chart/values-lingjun.yaml
  go.mod
  pkg/bmcpfs/internal/vsc.go
  pkg/bmcpfs/nodeserver.go
  staging/src/github.com/alibabacloud-go/nas-20170626/go.sum
Due: pull-alibaba-cloud-csi-driver-verify-deps, pull-alibaba-cloud-csi-driver-verify-helm

add OSS client selection reference in doc/oss.md
  docs/oss.md
Due: none

deploy: fix duplicate port name
  deploy/chart/templates/controller.yaml
Due: pull-alibaba-cloud-csi-driver-verify-deps, pull-alibaba-cloud-csi-driver-verify-helm

test: enable csi-sanity test for ModifyVolume
  test/csi-sanity/csi-sanity-disk.yaml
Due: pull-alibaba-cloud-csi-driver-verify-deps

cloud/wrap: unified OpenAPI logging and error reporting
  pkg/cloud/utils.go
  pkg/cloud/wrap/error.go
  pkg/cloud/wrap/sdkv1.go
  pkg/cloud/wrap/sdkv1_test.go
Due: pull-alibaba-cloud-csi-driver-verify-deps

common: validation and ctx logging for new API
  pkg/common/controllerserver.go
Due: pull-alibaba-cloud-csi-driver-verify-deps

disk: implement ModifyVolume
  docs/ram-policies/disk/controller.json
  pkg/cloud/ecsinterface.go
  pkg/cloud/ecsmock.go
  pkg/disk/constants.go
  pkg/disk/controllerserver.go
  pkg/disk/desc/task.go
  pkg/disk/modify.go
  pkg/disk/utils.go
Due: pull-alibaba-cloud-csi-driver-verify-deps

disk: re-implement StagingTargetPath cleanup logic
  pkg/disk/nodeserver.go
  pkg/disk/utils.go
Due: pull-alibaba-cloud-csi-driver-verify-deps

enable http endpoint for attacher
  deploy/chart/templates/controller.yaml
Due: pull-alibaba-cloud-csi-driver-verify-deps, pull-alibaba-cloud-csi-driver-verify-helm

enable http endpoint for snapshotter
  deploy/chart/templates/controller.yaml
Due: pull-alibaba-cloud-csi-driver-verify-deps, pull-alibaba-cloud-csi-driver-verify-helm

enable http endpoint for resizer
  deploy/chart/templates/controller.yaml
Due: pull-alibaba-cloud-csi-driver-verify-deps, pull-alibaba-cloud-csi-driver-verify-helm

Add volumeid validation
  pkg/mounter/utils/fuse_pod_manager.go
Due: pull-alibaba-cloud-csi-driver-verify-deps

oss: if the volumeId is too long for label value, use sha256sum[:63]
  pkg/mounter/utils/fuse_pod_manager.go
  pkg/mounter/utils/helper.go
  pkg/mounter/utils/helper_test.go
Due: pull-alibaba-cloud-csi-driver-verify-deps

use sha1 instead
  pkg/mounter/utils/helper.go
  pkg/mounter/utils/helper_test.go
Due: pull-alibaba-cloud-csi-driver-verify-deps

ossfs2: support rrsa
  pkg/mounter/oss/ossfs2.go
  pkg/mounter/oss/ossfs2_test.go
Due: pull-alibaba-cloud-csi-driver-verify-deps

ossfs2: fix empty passwd file
  pkg/mounter/proxy/server/ossfs2/driver.go
Due: pull-alibaba-cloud-csi-driver-verify-deps

metric/nas: fix inconsistency with disk
  pkg/metric/nfs_stat_collector.go
Due: pull-alibaba-cloud-csi-driver-verify-deps

deploy: add basic monitoring config
  deploy/chart/templates/monitor.yaml
  deploy/chart/values.yaml
Due: pull-alibaba-cloud-csi-driver-verify-deps, pull-alibaba-cloud-csi-driver-verify-helm

ossfs2: support assumerole with rrsa
  pkg/mounter/oss/ossfs2.go
  pkg/mounter/oss/ossfs2_test.go
Due: pull-alibaba-cloud-csi-driver-verify-deps

disk: refine create volume error code
  pkg/disk/cloud.go
  pkg/disk/controllerserver.go
Due: pull-alibaba-cloud-csi-driver-verify-deps

Warmup data for ossfs2.0
  pkg/mounter/proxy/server/alinas/driver.go
  pkg/mounter/proxy/server/driver.go
  pkg/mounter/proxy/server/ossfs/driver.go
  pkg/mounter/proxy/server/ossfs2/driver.go
  pkg/mounter/proxy/server/ossfs2/warmup.go
Due: pull-alibaba-cloud-csi-driver-verify-deps

use json content-type for snapshotclient, fixing autosnapshot issues
  pkg/disk/disk.go
  pkg/options/genericoptions.go
  pkg/options/genericoptions_test.go
Due: pull-alibaba-cloud-csi-driver-verify-deps

disk: only resolve ECS endpoint once
  pkg/disk/utils.go
Due: pull-alibaba-cloud-csi-driver-verify-deps

use json contenttype for all dynamic clients
  pkg/metric/nfs_stat_collector.go
  pkg/nas/internal/config.go
  pkg/oss/oss.go
Due: pull-alibaba-cloud-csi-driver-verify-deps

ossfs2: support ramrole with STS
  pkg/mounter/oss/ossfs2.go
  pkg/mounter/oss/ossfs2_test.go
  pkg/oss/utils.go
Due: pull-alibaba-cloud-csi-driver-verify-deps

csi agent support ossfs2.0
  build/csi-agent/Dockerfile
Due: pull-alibaba-cloud-csi-driver-verify-deps

Warmup data for ossfs2.0
  pkg/bmcpfs/nodeserver.go
  pkg/mounter/oss/oss_fuse_manager.go
  pkg/mounter/proxy/protocol.go
  pkg/mounter/proxy/server/alinas/driver.go
  pkg/mounter/proxy/server/driver.go
  pkg/mounter/proxy/server/handler.go
  pkg/mounter/proxy/server/ossfs/driver.go
  pkg/mounter/proxy/server/ossfs2/driver.go
  pkg/mounter/proxy/server/ossfs2/warmup.go
  pkg/mounter/proxy_mounter.go
  pkg/nas/mounter.go
  pkg/oss/nodeserver.go
  pkg/oss/utils.go
Due: pull-alibaba-cloud-csi-driver-verify-deps

fix: add fusePodManagers in csi-agent
  pkg/oss/csi_agent.go
Due: pull-alibaba-cloud-csi-driver-verify-deps

bump ossfs1 to v1.91.7.ack.1
  build/csi-agent/Dockerfile
  build/multi/Dockerfile.multi
  build/multi/Dockerfile.multi.asi
  deploy/chart/values.yaml
  pkg/mounter/oss/ossfs.go
Due: pull-alibaba-cloud-csi-driver-verify-deps, pull-alibaba-cloud-csi-driver-verify-helm

test
  pkg/mounter/proxy/server/handler.go
  pkg/mounter/proxy/server/ossfs2/warmup.go
  pkg/oss/nodeserver.go
Due: pull-alibaba-cloud-csi-driver-verify-deps

Path conditions:
  pull-alibaba-cloud-csi-driver-verify-deps: unless all of: ^docs/|^\.github/|\.(md|adoc)$|^(LICENSE|OWNERS)$
  pull-alibaba-cloud-csi-driver-verify-helm: any of: ^deploy/chart/
