Repository kubernetes-sigs/alibaba-cloud-csi-driver: changes, and which Prow jobs are due for each by the changed paths.
All: pull-alibaba-cloud-csi-driver-verify-deps, pull-alibaba-cloud-csi-driver-verify-helm

Path conditions:
  pull-alibaba-cloud-csi-driver-verify-deps: unless all of: ^docs/|^\.github/|\.(md|adoc)$|^(LICENSE|OWNERS)$
  pull-alibaba-cloud-csi-driver-verify-helm: any of: ^deploy/chart/

metric: only count pending pod for attachment time
  pkg/common/nodeserver.go
  pkg/metric/volume_stat_collector.go
Due: pull-alibaba-cloud-csi-driver-verify-deps

disk: automatic label nodes with regional ESSD support
  pkg/disk/utils.go
  pkg/disk/utils_test.go
  vendor/k8s.io/klog/v2/ktesting/options.go
  vendor/k8s.io/klog/v2/ktesting/setup.go
  vendor/k8s.io/klog/v2/ktesting/testinglogger.go
  vendor/modules.txt
Due: pull-alibaba-cloud-csi-driver-verify-deps

fix deprecated
  pkg/bmcpfs/internal/vsc.go
Due: pull-alibaba-cloud-csi-driver-verify-deps

controller deploy security hardening
  build/build-all-multi.sh
  build/multi/Dockerfile.multi
  deploy/chart/templates/controller.yaml
  main.go
Due: pull-alibaba-cloud-csi-driver-verify-deps, pull-alibaba-cloud-csi-driver-verify-helm

disk: do not delete expand auto snapshot
  pkg/disk/controllerserver.go
  pkg/disk/nodeserver.go
Due: pull-alibaba-cloud-csi-driver-verify-deps

disk: add comment about udev fallback branch
  pkg/disk/device_manager.go
Due: pull-alibaba-cloud-csi-driver-verify-deps

feat(compatibility): support mounting bmcpfs vsc mount target using nas driver
  pkg/nas/utils.go
Due: pull-alibaba-cloud-csi-driver-verify-deps

feat: automatic CNFS switching when mounting NAS volumes
  pkg/cnfs/v1beta1/types.go
  pkg/nas/nodeserver.go
  pkg/nas/nodeserver_test.go
  pkg/utils/util.go
Due: pull-alibaba-cloud-csi-driver-verify-deps

disk: remove support for shared disk
  pkg/disk/category.go
  pkg/disk/cloud.go
  pkg/disk/controllerserver.go
  pkg/disk/desc/describe.go
  pkg/disk/nodeserver.go
  pkg/disk/waitstatus/interface.go
Due: pull-alibaba-cloud-csi-driver-verify-deps

disk: try force attach if the same disk is already detaching
  pkg/disk/category.go
  pkg/disk/cloud.go
Due: pull-alibaba-cloud-csi-driver-verify-deps

bump ossfs1 to v1.91.7.ack.1
  build/csi-agent/Dockerfile
  build/multi/Dockerfile.multi
  build/multi/Dockerfile.multi.asi
  deploy/chart/values.yaml
  pkg/mounter/oss/ossfs.go
Due: pull-alibaba-cloud-csi-driver-verify-deps, pull-alibaba-cloud-csi-driver-verify-helm

mounter: print stderr to fuse pod if exited with error
  pkg/mounter/proxy/server/ossfs/driver.go
  pkg/mounter/proxy/server/ossfs2/driver.go
Due: pull-alibaba-cloud-csi-driver-verify-deps

add todo for listoobjectv2
  pkg/mounter/oss/ossfs.go
Due: pull-alibaba-cloud-csi-driver-verify-deps

bump resizer to v1.14.0-aliyun
  deploy/chart/values.yaml
Due: pull-alibaba-cloud-csi-driver-verify-deps, pull-alibaba-cloud-csi-driver-verify-helm

enable http endpoint for resizer
  deploy/chart/templates/controller.yaml
Due: pull-alibaba-cloud-csi-driver-verify-deps, pull-alibaba-cloud-csi-driver-verify-helm

fix vendor conflict
  vendor/k8s.io/klog/v2/ktesting/testinglogger.go
Due: pull-alibaba-cloud-csi-driver-verify-deps

disk: fix multi-attach disk detaching from node.
  pkg/disk/cloud.go
  pkg/disk/controllerserver.go
  pkg/disk/nodeserver.go
Due: pull-alibaba-cloud-csi-driver-verify-deps

use switchable=writer, switch to os.stderr after mount finished
  pkg/mounter/proxy/server/ossfs/driver.go
  pkg/mounter/proxy/server/ossfs2/driver.go
  pkg/mounter/proxy/server/switchable_buffer.go
Due: pull-alibaba-cloud-csi-driver-verify-deps

deploy: add basic monitoring config
  deploy/chart/templates/monitor.yaml
  deploy/chart/values.yaml
Due: pull-alibaba-cloud-csi-driver-verify-deps, pull-alibaba-cloud-csi-driver-verify-helm

bump test cluster to 1.33.3
  test/cluster/cluster-template.jsonnet
Due: pull-alibaba-cloud-csi-driver-verify-deps

try to make dependabot more useful
  .github/dependabot.yml
Due: none

bump external-attacher to v4.9.0
  deploy/chart/values.yaml
Due: pull-alibaba-cloud-csi-driver-verify-deps, pull-alibaba-cloud-csi-driver-verify-helm

enable http endpoint for attacher
  deploy/chart/templates/controller.yaml
  deploy/chart/templates/monitor.yaml
Due: pull-alibaba-cloud-csi-driver-verify-deps, pull-alibaba-cloud-csi-driver-verify-helm

bump golang.org/x/oauth2
  go.mod
  go.sum
  vendor/golang.org/x/oauth2/README.md
  vendor/golang.org/x/oauth2/oauth2.go
  vendor/golang.org/x/oauth2/pkce.go
  vendor/modules.txt
Due: pull-alibaba-cloud-csi-driver-verify-deps

disk: output path when checking device
  pkg/disk/nodeserver.go
Due: pull-alibaba-cloud-csi-driver-verify-deps

disk: optimize batch create/delete
  pkg/cloud/throttle/throttle.go
  pkg/disk/cloud.go
  pkg/disk/cloud_test.go
  pkg/disk/controllerserver.go
  pkg/disk/desc/describe.go
  pkg/disk/disk.go
  pkg/disk/nodeserver.go
Due: pull-alibaba-cloud-csi-driver-verify-deps

bump golang to 1.24.5
  build/csi-agent/Dockerfile
  build/mount-proxy/Dockerfile
  build/multi/Dockerfile.multi
  build/multi/Dockerfile.multi.asi
  go.mod
  pkg/bmcpfs/controllerserver.go
Due: pull-alibaba-cloud-csi-driver-verify-deps

batcher: optimize log for inefficient batching
  pkg/disk/batcher/low_latency.go
  pkg/disk/batcher/low_latency_test.go
Due: pull-alibaba-cloud-csi-driver-verify-deps

disk: call force attach on Detaching status
  pkg/disk/cloud.go
Due: pull-alibaba-cloud-csi-driver-verify-deps

cloud/metadata: extract imds client
  pkg/cloud/metadata/ecs.go
  pkg/cloud/metadata/ecs_test.go
  pkg/cloud/metadata/imds/imds_client.go
  pkg/cloud/metadata/imds/imds_client_test.go
  pkg/cloud/metadata/metadata_test.go
Due: pull-alibaba-cloud-csi-driver-verify-deps

oss: fetch RAM role name with metadata
  pkg/cloud/metadata/ecs_dynamic.go
  pkg/cloud/metadata/metadata.go
  pkg/cloud/metadata/metadata_test.go
  pkg/oss/controllerserver.go
  pkg/oss/nodeserver.go
  pkg/oss/utils.go
  pkg/oss/utils_test.go
  pkg/utils/util.go
Due: pull-alibaba-cloud-csi-driver-verify-deps

ossfs2: support rrsa
  pkg/mounter/oss/ossfs2.go
  pkg/mounter/oss/ossfs2_test.go
Due: pull-alibaba-cloud-csi-driver-verify-deps

ossfs2: support assumerole with rrsa
  pkg/mounter/oss/ossfs2.go
  pkg/mounter/oss/ossfs2_test.go
Due: pull-alibaba-cloud-csi-driver-verify-deps

ossfs2: fix empty passwd file
  pkg/mounter/proxy/server/ossfs2/driver.go
Due: pull-alibaba-cloud-csi-driver-verify-deps

ossfs2: support ramrole with STS
  pkg/mounter/oss/ossfs2.go
  pkg/mounter/oss/ossfs2_test.go
  pkg/oss/utils.go
Due: pull-alibaba-cloud-csi-driver-verify-deps

curl ossfs2 rpm from ack official ossbucket
  build/mount-proxy/Dockerfile
Due: pull-alibaba-cloud-csi-driver-verify-deps

bump ossfs2 to v2.0.2.ack.1
  build/multi/Dockerfile.multi
  build/multi/Dockerfile.multi.asi
  deploy/chart/values.yaml
  pkg/mounter/oss/ossfs2.go
Due: pull-alibaba-cloud-csi-driver-verify-deps, pull-alibaba-cloud-csi-driver-verify-helm

feat(NAS csi-agent): support NodeGetCapabilities & NodeUnpublishVolume
  pkg/nas/csi_agent.go
Due: pull-alibaba-cloud-csi-driver-verify-deps

feat(oss csi-agent): support ECI environment
  Makefile
  cmd/csi-agent/main.go
  pkg/disk/csi_agent.go
  pkg/mounter/cmd_mounter.go
  pkg/mounter/mounter.go
  pkg/mounter/proxy/server/ossfs/driver.go
  pkg/mounter/proxy_mounter.go
  pkg/oss/csi_agent.go
  pkg/oss/nodeserver.go
Due: pull-alibaba-cloud-csi-driver-verify-deps
